<div class="max-w-8xl flex mx-auto justify-between h-20">
    <div class="w-[20%] my-auto">
        <h1 class="font-bold">FreeConnect</h1>
    </div>
    <div class="w-full flex justify-end my-auto">
        <div class="w-[50%] flex justify-between">
            <a href="#" class="active:text-blue-800">Find a Freelancer</a>
            <a href="#">Find a Client</a>
            <a href="#">Blog</a>
            <button class="text-blue-600 ">Login In</button>
            <button class="text-blue-600 border-2 border-blue-700 font-bold w-20 rounded-md">Sign Up</button>
        </div>
    </div>
</div>
