<div class="max-w-8xl mx-auto h-[300px] flex">
    <div class="my-auto w-1/2">
        <div class="text-2xl font-bold leading-10">
            <p>Find Freelance Jobs that you'll actually love</p>
            <p>publish your projects and wait for offers</p>
        </div>
        <p class="text-[15px]">
            Freelance Connect is a platform that connects freelancers and clients.
            Clients can post projects, while freelancers submit offers.
            It ensures secure project management and communication for effective collaboration.
        </p>
    </div>
    <div class="w-1/2">
        <img src="freelance.png" alt="Freelance Connect" class="w-full h-full"/>
    </div>
</div>
<!-- <div class="max-w-8xl mx-auto bg-blue-50">
    <div class="flex">
        <select name="" id="" class="w-60 bg-blue-50">
            <option value="">Freelancer</option>
            <option value="">Client</option>
        </select>
        <input type="text" placeholder="Job Title or Keyword" class="w-60">
    </div>
</div> -->
